*.class

# Package Files #
#*.jar
*.war
*.ear
/JmDNS/build/
/jfxrt/build/
/JmDNSTest/build/
/build/
/ShapeSample/build/
/RibbonMenu/build/
/dist/
/bcpkix-jdk15on/build/
/TestSSH/build/
/sshj/build/
/slf4j-api/build/
/bcpkix-jdk15on/nbproject/private/
/bouncycastle/build/
/sshj/nbproject/private/
/slf4j-api/nbproject/private/
/TestSSH/nbproject/private/
/bouncycastle/nbproject/private/